<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome {{user}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body class = "has-background-success">
    <nav class="navbar is-warning" role="navigation" aria-label="main-navigation">

        <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
           Views
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
           New Entries
          </a>
          <a class="navbar-item">
            My Journal
          </a>
          <a class="navbar-item">
            Lists / Graphs
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="login/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="login/log_out">
            Log out
          </a>
        </div>
      </div>
    </div>
      </div>
    </nav>
    <div class="container is-fluid">
  <div class="notification is-dark">
    <div class="container is-fluid" style="position: relative; height: 25%; width:100%">
      {{ graph|safe }}
</div>
<div class="container is-fluid">
<div class="columns">
  <div class="column">
<div class="notification is-danger">
<form action ="dashview/gluco_entry" method="post">
{% csrf_token %}
<label class="label"> Blood Glucose (mg/dl) </label>
<input type="text" name="reading">
<label class="label"> Date / Time </label>
<input type="datetime-local" name="time">
<button class="button is-primary" type-"submit">Submit</button>
</form>
</div>
</div>

<div class="container is-fluid">


  <div class="column">
    <div class="notification is-info">
      <form action ="dashview/insulin_entry" method="post">
      {% csrf_token %}
      <label class="label"> Insulin Dose (units) </label>
      <input type="text" name="dose">
      <label class="label"> Date / Time </label>
      <input type="datetime-local" name="time">
      <button class="button is-primary" type-"submit">Submit</button>
      </form>
  </div>
  </div>
  <div class="column">
    <div class="notification is-warning">
    Second column
  </div>
</div>
  <div class="column">
    <div class="notification is-dark">
    Third column
  </div>
  </div>
  <div class="column">
    <div class="notification is-link">
    Fourth column
  </div>
  </div>
</div>
</div>
</div>
  </body>
</html>
